<% title "Registration" %>

<script type="text/javascript">
	$('#register_confirm').live('tap',function() {
		var offerurl, memname, memcard;
		//offerurl = window.location.origin + $("#member").attr("data-offersurl");
		offerurl = $("#member").attr("data-offersurl");
		memname = $("#member").attr("data-name");
		memcard = $("#member").attr("data-id");
		window.localStorage.setItem("memname", memname);
		window.localStorage.setItem("memcard", memcard);
		window.localStorage.setItem("offerurl", offerurl);
		alert("Add to Storage");
	});
	$('#register_reject').live('tap',function() {
		window.localStorage.removeItem("memname");
		window.localStorage.removeItem("memcard");
		window.localStorage.removeItem("offerurl");
		alert("Deleted Storage");
	});
	
</script>

<div data-role="content">
	<div id="member" data-id="<%=@member.card%>" data-name="<%=@member.name%>" class="member_reg" data-offersurl="<%= member_offers_path(@member)%>">
		
		<% if @member.registered?%>

			<%= link_to "Remove Registration", member_register_path(@member, 1), :method => :delete, :id => "register_reject", "data-role" => "button", "data-icon" => "delete"  if @member.registered %>
		
		<% else %>
			<%= link_to "Register", member_registers_path(@member), :method => :post, "data-role" => "button", "data-icon" => "check", :id => "register_confirm" %>
		
		<% end %>
	</div>
</div>