<% title "Offer Details" %>

<div data-role="content">
	<% if !@product.image_url.nil? %>
		<p>
			<%= image_tag @product.image_url(:thumb) %>
		</p>
	<% end %>

	<p>
		<%= @product.name  + " "  + @product.desc %>
	</p>
	
	<div data-role="collapsible" data=collasped="true">
			<h3>Long Description:</h3>
			<p><%= @product.long_desc %></p>
	</div>
	
	


</div>

<%= link_to 'Load to Flybuys card', member_offer_path(@member), :method => :put, :confirm => "Offer Loaded", "data-role" => "button", "data-icon" => "plus" %>
<%= link_to 'Back to Offers', member_offers_path(@member), "data-role" => "button", "data-icon" => "back" %>
