<% title "Edit Offers" %>

<div data-role="content">
	<%= form_for @product, :url => admin_product_path(@product), :html => { "data-ajax" => "false", :multipart => true} do |form| %>
	  <% if @product.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

	      <ul>
	      <% @product.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="field">
	    <%= form.label :name %><br />
	    <%= form.text_field :name %>
	  </div>
	  <div class="field">
	    <%= form.label :desc %><br />
	    <%= form.text_field :desc %>
	  </div>

	  <div class="field">
	    <%= form.label :long_desc %><br />
	    <%= form.text_field :long_desc %>
	  </div>

	  <div class="field">
	    <%= form.label :image %><br />
	    <%= form.file_field :image %>
	  </div>	

	  <div class="actions">
	    <%= form.submit "Save Product" %>
	  </div>
	<% end %>
</div>
<%= link_to 'Show', admin_product_path(@product), "data-role" => "button", "data-icon" => "gear" %>
<%= link_to 'Offer List', admin_products_path, "data-role" => "button", "data-icon" => "back" %>
